<%= bootstrap_form_for @todo, "up-target" => ".todo-form" do |f| %>
  <div class="checkbox">
    <label>
      <input type="checkbox" up-switch=".target-form">Add a new todo?</input>
    </label>
  </div>

  <div class="target-form" up-show-for=":checked">
    <%= f.text_field :name, "up-validate" => "" %>

    <div class="checkbox">
      <label>
        <input type="checkbox" up-switch=".target-description">Add description</input>
      </label>
    </div>

    <div class="target-description" up-show-for=":checked">
      <%= f.text_field :description, "up-switch" => ".target-save" %>
    </div>

    <div class="target-save" up-show-for=":present">
      <div class="checkbox">
        <label>
          <input type="checkbox" up-autosubmit> Save me! </input>
        </label>
      </div>
    </div>
  </div>

<% end %>

<div class="spinner">
  <%= image_tag("ajax-loader") %>
</div>
