</div class="todo-form">
  <%= render "form" %>

  <%= link_to "Validation rules", popup_path, "up-popup" => ".popup", "up-position" => "bottom-right" %>

  <table class="table">
    <thead>
      <tr>
        <th> Name </th>
        <th> Description </th>
      </tr>
    </thead>
    <%- @todos.each do |todo| %>
      <tbody>
        <tr>
          <td> <%= todo.name %> </td>
          <td> <%= todo.description %> </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
